@using Markdig
@inject HttpClient Http

<FluentCard MinimalStyle="true" Style="height:100%">
    <div class="markdown-body" style="overflow-y:auto;height:100%;width:100%;height:100%;padding:10px;">
        @((MarkupString)htmlContent)
    </div>
</FluentCard>

@code {
    private string htmlContent = "";

    [Parameter, EditorRequired] public string Url { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(Url))
        {
            var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
            var markdownContent = await Http.GetStringAsync(Url);
            htmlContent = Markdown.ToHtml(markdownContent, pipeline);
        }
        else
        {
			htmlContent = "";
        }
    }
}
