@page "/"

<PageTitle>Home</PageTitle>

<FluentLayout>
    <FluentHeader>
        Home
    </FluentHeader>

    <FluentCard>
        <FluentLabel Typo="Typography.Subject">
            'Sandbox' for testing.
        </FluentLabel>
        <br />
        <FluentLabel Typo="Typography.Body">
            A demo of this, and other of my <code>`DotNet`</code> packages, can be found
            <a href="https://github.com/marqdouj/dotnet.demo" target="_blank">here</a>.
        </FluentLabel>
    </FluentCard>
</FluentLayout>