<FluentLabel Typo="Typography.Subject">
    For the purpose of this demo, if the layer has an <span class="subject-span">Id/SourceId</span> they will be pre-configured and readonly.
    <br />
    Click on the <span class="subject-span">Create Layer</span> button to edit the settings and create the layer.
</FluentLabel>

@code {

}
